@font-face {
  font-family: 'Regular Script';
  src: url('正楷字体.TTF');
}

html,body {
  font-family: 'Regular Script', sans-serif;
}

.pane {
  width: 400px!important;
  height: 400px;
  border: 8px solid hsl(348, 86%, 43%);
}

.pane_top_left {
  border-right-width: 4px;
  border-bottom-width: 4px;
}

.pane_top_right{
  border-left-width: 4px;
  border-bottom-width: 4px;
}

.pane_bottom_left {
  border-right-width: 4px;
  border-top-width: 4px;
}

.pane_bottom_right {
  border-left-width: 4px;
  border-top-width: 4px;
}

.font_sample_wrapper {
  margin-top: calc(-800px - 0.75rem);
}

.font_sample {
  width: 800px!important;
  height: 800px;
  text-align: center;
  font-size: 700px;
  line-height: 800px;
}
