@font-face {
  font-family: 'Regular Script';
  src: url('正楷字体.TTF');
}

html,body {
  font-family: 'Regular Script', sans-serif;
}

.pane_top_left {
  width: 400px!important;
  height: 400px;
  border: 4px dashed red;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.pane_top_right{
  width: 400px!important;
  height: 400px;
  border: 4px dashed red;
  border-left-width: 2px;
  border-bottom-width: 2px;
}

.pane_bottom_left {
  width: 400px!important;
  height: 400px;
  border: 4px dashed red;
  border-right-width: 2px;
  border-top-width: 2px;
}

.pane_bottom_right {
  width: 400px!important;
  height: 400px;
  border: 4px dashed red;
  border-left-width: 2px;
  border-top-width: 2px;
}

.font_sample_wrapper {
  margin-top: calc(-800px - 0.75rem);
}

.font_sample {
  width: 800px!important;
  height: 800px;
  text-align: center;
  font-size: 700px;
  line-height: 800px;
}
