@font-face {
  font-family: 'Regular Script';
  src: url('正楷字体.TTF');
}

html,body {
  font-family: 'Regular Script', sans-serif;
}

.pane_top_left {
  width: 300px!important;
  height: 300px;
  border: 2px dashed red;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.pane_top_right{
  width: 300px!important;
  height: 300px;
  border: 2px dashed red;
  border-left-width: 1px;
  border-bottom-width: 1px;
}

.pane_bottom_left {
  width: 300px!important;
  height: 300px;
  border: 2px dashed red;
  border-right-width: 1px;
  border-top-width: 1px;
}

.pane_bottom_right {
  width: 300px!important;
  height: 300px;
  border: 2px dashed red;
  border-left-width: 1px;
  border-top-width: 1px;
}

.font_sample_wrapper {
  margin-top: calc(-600px - 0.75rem);
}

.font_sample {
  width: 600px!important;
  height: 600px;
  text-align: center;
  font-size: 500px;
  line-height: 600px;
}
